@model IEnumerable<SayBergETrade.Models.Product>
@{
    ViewData["Title"] = "Home Page";
    int count = 0;
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                        The current link item
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">A second link item</a>
                    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
                    <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
                    <a class="list-group-item list-group-item-action disabled">A disabled link item</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-header">
                                    @item.Title
                                </div>
                                @if (item.Image == null)
                                {
                                    <img src="~/images/image/not-image.png" style="height: 200px"/>
                                }
                                else
                                {
                                    <img src="@item.Image" class="card-img-top" alt="..." style="height: 200px">
                                }
                                <div class="card-body">
                                    <p class="card-text">@item.Description</p>
                                </div>
                                <div class="card-footer">
                                    <label style="font-size: 20px; color: crimson"><b>@item.Price.ToString()₺</b></label>
                                    <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-outline-info"
                                       style="float: right">Detay</a>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
           
        </div>


    </div>
</div>